.App {
  text-align: center;
}

form {
  width: 500px;
  text-align: center;
  margin:auto;
}

label {
  width: 35%;
  display: inline-block;
}

input[type="text"], select {
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="password"], select {
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 5px;
  box-sizing: border-box;
}

.error {
  color: #ff0000;
  text-align: center;
}
